/*
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
--thistle: #D8BFD8;
*/


*{
    font-size: 10px;
}



body{
    font-family: 'Alegreya', serif;
}
.charcoal{
    color: #264653ff;
}
.charcoal-back{
    background-color: #264653ff;
}
.persian-green-button{
    background-color: #2a9d8fff;
    align-content: center;
    position: relative;
}
.heading-text{
    font-size: 2rem;
}
.small-text{
    font-size: 1.2rem;
}
.eating-requirement{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #2a9d8fff;
}
.vegan{
    position: absolute;
    left:5;
}
.veggie{
    position: absolute;
    left:15;
}
.link{
    color: #2a9d8fff;
}
.collapsible-body{
    background-color: #D8BFD8;
}