/*
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
--thistle: #D8BFD8;
*/


*{
    font-size: 10px;
}


/*---------------------------------------------------Navbar*/
.session-user{
    font-size: 2.5rem;;
}
/*---------------------------------------------------Body*/

body{
    font-family: 'Alegreya', serif;
}
.heading-text{
    font-size: 2rem;
}
.small-text{
    font-size: 1.2rem;
}
.eating-requirement{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #2a9d8fff;
}
/*---------------------------------------------------Interactive Elements*/
.charcoal{
    color: #264653ff;
}
.charcoal-back{
    background-color: #264653ff;
}
.persian-green-button{
    background-color: #2a9d8fff;
    align-content: center;
    position: relative;
}
.link{
    color: #2a9d8fff;
}
.collapsible-body{
    background-color: #D8BFD8;
}
