/*
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--thistle: #D8BFD8;
*/


*{
    font-size: 10px;
}


/*---------------------------------------------------Navbar*/
.session-user{
    font-size: 2.5rem;;
}
/*---------------------------------------------------Body*/

body{
    font-family: 'Alegreya', serif;
}
.heading-text{
    font-size: 2rem;
}
.small-text{
    font-size: 1.2rem;
}
.eating-requirement{
    padding-left: 2rem;
    padding-right: 2rem;
    color: #2a9d8fff;
}
.heading-text{
    margin: auto;
}
.col-2{
    float:right;
}
/*---------------------------------------------------Interactive Elements*/
.charcoal{
    color: #264653ff;
}
.charcoal-back{
    background-color: #264653ff;
}
.persian-green-button{
    background-color: #2a9d8fff;
    align-content: center;
    position: relative;
}
.link{
    color: #2a9d8fff;
}
.collapsible-body{
    background-color: #D8BFD8;
}
.collapsible-header{
    height:7rem;
}
